*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sec_pp_r{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    min-height: 100vh;
    gap: 5px;
    padding-left: 130px;
    
}

.sec_r{
    padding-left: 150px;
}



.sec_3_ru{
    padding: 5px 10px 5px 5px;
    background-color: #61c9a8 ;   
    border-radius: 1%; 
    box-shadow: -10px 3px 13px 4px rgba(0, 0, 0, 0.3);
    width: 68%;
    margin: 20px;
    
}

.sec_3_ru p{
    font-size: 25px;
    width: 90%h;
}

.sec_3_ru h3{
    font-size: 30px;
}

.lista_primaria{
    padding-left: 20px;
    font-size: 22px;
}

.lista_secundaria{
    list-style: lower-alpha;
}

#advertencia{
    margin-left: 200px;
    padding-top: 10px;
}

.imagenes{
    width: 120px;
}

.lista_unor{
    padding-left: 20px;
}

.lista_unor{
    font-size: 22px;
}